.card-header{
    padding: 1rem 1rem;
}

.bg-menu {
    background-color: #4f5962;
    color: #c2c7d0;
}

.menu-link {
    color: #c2c7d0;
}

.menu-link:hover {
    color: #ffffff;
}

/* badge css */
#crox-badge {
    border-radius: 50%;
    background: #dbdbdb;
    position: relative;
    color: black;
    left: 6px;
    cursor: pointer;
    margin: 4px;
}

.tag-badge {

    padding: 0.3em 0.3em;
    font-size: 11px;
    line-height: 0;
    text-transform: capitalize;
}

.tag-badge {
    margin: 2px;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #07c400;
}

input:focus+.slider {
    box-shadow: 0 0 1px #07c400;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* remove inner-spin-button from input type Number */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spin {
  -moz-appearance: textfield;
}
